@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);
@font-face {
  font-family: 'Fontello-Socials';
  src: url(fontello.ttf);
  font-weight: normal;
  font-style: normal;
}
* {
	margin: 0; padding:0; border:0;
}
body {
	margin: auto;
	font-family: Merriweather, sans-serif;
	font-size: 16pt;
	color: #666;
	background-color: #3d3331;
}
h1 {
	text-align: center;
	font-size: 64pt;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28pt;
	text-align: center;
	margin-top: 25px;
	font-weight: normal;
}
#head {
	position: relative;
	height: 280px;
	overflow: hidden;
}
#blur {
	position: absolute;
	background-image: url(claus.jpg);
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	left:-26px;
    right:-26px;
    top:-26px;
    bottom:-26px;
    filter: blur(15px) brightness(0.75);
    -webkit-filter: blur(35px) brightness(0.75);
    -moz-filter: blur(35px) brightness(0.75);
    -ms-filter: blur(135px) brightness(0.75);
    -o-filter: blur(35px) brightness(0.75);
}
#image {
	position: absolute;
	left:0;
	margin-left: auto;
	right:0;
	margin-right: auto;
	margin-top: -310px;
	width: 250px;
	height: 250px;
	border: 15px solid #fff;
	border-radius: 50%;
	background: url(claus.jpg) 0 0 no-repeat;
	background-size: cover;
}
#info {
	background-color: #eaeaea;
	padding: 140px 0 60px 0;
}
ul#social {
	text-align: center;	
	padding: 50px;
	background-color: #fff;
}
ul#social li {
	display: inline;
	padding: 25px;
}
ul#social li a {
	font-family: Fontello-Socials;
	font-size: 64pt;
	text-decoration: none;
	color: #c1275f;
}
ul#social li a:hover {
	color: #3d3331;
}
